@charset "UTF-8";

@media (max-width: 1440px) {
  .hide {
    display: none !important
  }
  .pre-content-container .image-cover {
    bottom: -9vh;
  }
}

@media (max-width: 1230px) {
  .navbar.product-site-header .navbar-menu .navbar-end.mobile-dropdown-trigger {
    display: flex;
  }
  .navbar.product-site-header .navbar-menu .navbar-end.mobile-dropdown-trigger a.navbar-item {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 30px;
    padding-right: 30px;
    background-color: rgba(236,238,239,0.75);
    border-radius: 9px;
    box-shadow: 0 9px 15px 0 rgba(0,0,0,0.24),0 6px 18px 0 rgba(0,0,0,0.21);
    font-weight: 700;
  }
  .navbar-end.mobile-dropdown {
    width: 30%;
    position: absolute;
    top: 1.2rem;
    right: 0;
    z-index: 250;
    margin: 0 auto;
    padding: 12px 6px;
    background-color: rgb(255,255,255);
    border-radius: .36rem;
    box-shadow: 0 9px 15px 0 rgba(0,0,0,0.24),0 6px 18px 0 rgba(0,0,0,0.21);
    display: none;
  }
  .navbar.product-site-header .navbar-menu .navbar-end.mobile-dropdown a.navbar-item {
    display: block;
    margin-left: 6px;
    border-bottom: 1px solid rgba(0,0,0,0.24);
    text-align: center;
  }
  .navbar.product-site-header .navbar-menu .navbar-end.mobile-dropdown a.navbar-item:hover {
    background-color: rgba(0,0,0,0.12);
  }
  .navbar.product-site-header .navbar-menu .navbar-end.mobile-dropdown.dropdown-active {
    display: block;
  }
}

@media (max-width: 1024px) {
  .hide-laptop {
    display: none !important;
  }
  .button {
    padding-left: 15px;
    padding-right: 15px;
  }
  span.arrow {
    right: -36px;
    margin: 0 auto;
  }
  .main-menu.navbar-end, .menu-button.search-button, nav.navbar div.navbar-brand a.navbar-item, nav.navbar div.navbar-brand a.navbar-item svg, div.navbar-menu button.menu-button.hamburger-button, div.navbar-menu ul.primary-menu, div.navbar-menu.secondary-browse-menu button {
    display: none;
  }
  header.site-header div.main-dropdown-menu-container.active.main .menu-list.primary-menu, header.site-header div.main-dropdown-menu-container.active.stem .menu-list.stem-menu, header.site-header div.main-dropdown-menu-container.active.product-filters .menu-list.filters-menu {
    display: block;
  }
  header.site-header {
    position: relative;
  }
  header.site-header div.main-dropdown-menu-container {
    min-height: auto;
    max-height: 100%;
  }
  body img.img-cover {
    height: auto;
    width: auto;
    top: auto;
    bottom: -18%;
    position: fixed;
  }
  header.site-header div.main-dropdown-menu-container, header.site-header div.main-dropdown-menu-container ul.main-dropdown-menu {
    padding: 0 0;
    margin: 0 auto;
  }
  header.site-header nav.navbar, header.site-header nav.navbar .navbar-brand, nav.navbar div.navbar-brand svg.mobile-brand-icon {
    height: 66px;
    display: flex;
    align-items: center;
  }
  header.site-header nav.navbar .navbar-brand, nav.navbar div.navbar-brand svg.mobile-brand-icon, header.site-header div.main-dropdown-menu-container.active, header.site-header div.main-dropdown-menu-container ul.main-dropdown-menu {
    display: block;
  }
  main.site-main section.section div#indexTextContainer, div#primary main#main video#vid {
    display: none;
  }
  section.full-section .page-content {
    padding: 0 15px;
  }
  div#primary main#main section.full div#index-container {
    margin-left: 48px;
    margin-right: 48px;
  }
  section.full div#index-container h3#scrollDown {
    text-align: right;
  }
  div.columns.choice-container div.column a > i, h1.page-titles {
    letter-spacing: normal;
  }
  h1.page-titles, h1.page-titles a {
    font-size: calc(9vw - 24px);
  }
  ul.hs > li a:hover::after {
    position: relative;
    top: 0;
  }
  .pre-content-container .image-cover {
    bottom: -15vh;
  }
  .navbar.product-site-header > .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .navbar-end.mobile-dropdown {
    width: 57%;
    top: 3rem;
    left: 0;
  }
  .navbar.product-site-header .navbar-menu .navbar-end.mobile-dropdown-trigger a.navbar-item::after {
    display: none;
  }
  .product-demo-form a.delete.close-form {
    top: 0;
  }
  .iblock-pathway-container .pathway-content {
    max-width: 90%;
  }
  .post-card .post-card-body .post-details .level {
    display: inline-block;
  }
}

@media (min-width: 980px) {
}

@media (max-width: 980px) {
  ul.main-menu.navbar-end li:nth-child(2) {
    display: none;
  }
  article.post-card {
    width: 100%;
  }
  .post-card-container .post-card .post-card-body {
    height: auto;
  }
}

@media (max-width: 768px) {
  .hide-tablet {
    display: none !important;
  }
  .full-height {
    min-height: auto !important;
    height: auto !important;
  }
  .padding, .padding-sm {
    padding: 1.5rem;
  }
  .button {
    padding-left: 3px;
    padding-right: 3px;
  }
  header.site-header div.main-dropdown-menu-container {
    padding: 1rem 0;
  }
  body.home footer.site-footer {
    margin-top: 0;
  }
  body img.img-cover {
    height: 50vh;
    top: auto;
    bottom: -12%;
    position: fixed;
  }
  div#primary main#main section.full div#index-container {
    width: 90%;
    margin-left: 21px;
    margin-right: 21px;
  }
  section.why-are-you-here {
    min-height: auto !important;
    position: relative;
  }
  section.why-are-you-here div.columns.choice-container div.column {
    height: 50vh;
  }
  section.why-are-you-here div.columns.choice-container div.column.create {
    border-left: none;
    border-right: none;
  }
  div.columns.choice-container div.column a > i, h1.page-titles {
    letter-spacing: normal;
    font-size: 4.2rem;
  }
  div.columns.choice-container div.column a > span {
    opacity: 1;
    font-size: 1em;
  }
  svg#theCompleteThought path.background {
    display: none;
  }
  div#primary main#main section.full svg {
  	height: auto;
  	width: 100%;
  	position: relative;
  }
  .section-container .full-section.stem-technology:nth-child(1), .section-container .full-section.educational-technology:nth-child(1) {
  	margin-top: 0;
  }
  .section-container > .full-section > .fluid-width.columns .half-background {
    display: none;
  }
  ul.hs > li, .item {
    padding: calc(60px / 1.5 * 1.5);
  }
  .hs-container ul.hs {
    grid-template-columns: repeat(99, calc(84% - 24px * 3));
  }
  .hs-container form {
    padding-left: 36px
  }
  .hs-container form .level-item {
    justify-content: flex-start;
  }
  ul.hs::-webkit-scrollbar-thumb, ul.hs::-webkit-scrollbar-thumb:hover {
    border-right: none;
    border-left: none;
  }
  ul.hs > li a {
  	opacity: 1;
  }
  div.hbspt-form form {
  	width: 100%;
  }
  .pre-content-container .image-cover {
    bottom: -9vh;
  }
  .section-container .full-section .filter-container {
    height: auto;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #ffffff;
  }
  .filter-container .list-filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .filter-container .list-filters > div:first-child {
    flex: 0 0 100%;
  }
  .filter-results .product-item > a div.image-link {
    padding: .75rem 2.4rem;
  }
  .tooltip .tooltiptext {
    width: calc(100% + 6vw);
    left: -3vw;
  }
}

@media (max-width: 525px) {
  .hide-mobile {
    display: none !important;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3, h4, h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: .75rem;
  }
  div#primary main#main div#indexTextContainer {
    display: none;
  }
  div#primary main#main section.full div#index-container {
    width: 87%;
    text-align: center;
  }
  h1.page-titles, h1.page-titles a {
    font-size: calc(15vw - 24px);
  }
  .post-card-container .post-card .post-card-body.featured-image-background {
    height: calc(21rem + 90px);
  }
  header.site-header div.main-dropdown-menu-container .main-dropdown-menu.cols {
    column-count: 1;
  }
  .navbar.product-site-header {
    background-color: rgba(236,238,239,1);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,.12);
  }
  .tooltip .tooltiptext {
    width: 100%;
  }
}

@media (max-height: 600px) {
  .otis-pd-course-container .before-course-content {
    padding-top: 12px;
  }
  .pre-content-container .image-cover {
    bottom: -36vh;
  }
}
