@charset "UTF-8";

::-webkit-scrollbar {
  width: 7.5px;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}
::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 21px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ECEEEF;
}

h1, h2, h3, h4, h5, h6, p, small, blockquote, a, li, table, td, tr, button {
  color: rgb(0,0,0);
}
h1, h2, h3, h4, h5, h6, button, input, th, a.tags span, a.product-link {
  line-height: 1.2;
  font-family: 'Roboto-slab',Helvetica,Arial,san-serif !important;
}
p, small, blockquote, a, li, table, td, tr {
  font-family: 'Roboto',Helvetica,Arial,san-serif !important;
}
strong {
  font-weight: bold;
}
b {
  font-weight: normal;
}
section {
  transition: all .15s ease !important;
}

.hidden {
  display: none;
}
.ng-hide {
  transform: translateY(-21px);
  opacity: 0 !important;
}
.ng-show {
  opacity: 1 !important;
}

.blue-text {
  color: #4DA1FF;
}
.selected {
  opacity: 1;
}
.deselected {
  opacity: 0.42;
}
.text-padding {
  padding: 30px;
}
.box-section {
  overflow: hidden;
  padding: 30px;
  border: 2.1px solid #ECEEEF;
  border-radius: 18px;
}
.box-section > *:last-child {
  margin-bottom: 30px;
}
.box-section.fill-area {
  padding: 0 0;
  overflow: hidden;
}
.box-section.fill-area:last-child > *:last-child {
  margin-bottom: 0;
}
.box-section:last-child > .fill-flex-items {
  display: flex;
  justify-content: space-evenly;
}
.box-section:last-child > .fill-flex-items .fill-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 180px 30px 60px 30px;
}
.box-section:last-child > .fill-flex-items label.radio.fill-item {
  display: block;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .15s;
}
.box-section:last-child > .fill-flex-items label.radio.fill-item:first-child {
  border-right: 2px solid #ECEEEF;
}
.box-section:last-child > .fill-flex-items label.radio.fill-item.selected {
  background-color: #4d4d4d;
}
.box-section:last-child > .fill-flex-items label.radio.fill-item img {
  width: 72%;
  max-width: 72%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: .48;
  transition: all .18s;
}
.box-section:last-child > .fill-flex-items label.radio.fill-item.selected img, .box-section:last-child > .fill-flex-items label.radio.fill-item:hover img {
  opacity: 1;
}
.box-section:last-child > .fill-flex-items label.radio.fill-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.box-section:last-child > .fill-flex-items label.radio.fill-item span.checkmark {
  height: 90px;
  width: 90px;
  position: absolute;
  top: 54px;
  left: 36px;
  background-color: #ECEEEF;
  border-radius: 50%;
}
.box-section:last-child > .fill-flex-items label.radio.fill-item:hover input ~ span.checkmark {
  background-color: #CCCCCC;
}
.box-section:last-child > .fill-flex-items label.radio.fill-item input:checked ~ span.checkmark {
  background-color: #EDFFEE;
}
.box-section:last-child > .fill-flex-items label.radio.fill-item span.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.box-section:last-child > .fill-flex-items label.radio.fill-item input:checked ~ span.checkmark:after {
  display: block;
}
.box-section:last-child > .fill-flex-items label.radio.fill-item input:checked ~ span.checkmark:after {
  height: 36px;
  width: 18px;
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 36px;
  transform: rotate(45deg);
  border-bottom: 7.5px solid green;
  border-right: 7.5px solid green;
}
.box-section:last-child > .fill-flex-items label.radio.fill-item.selected > * {
  color: #FFFFFF;
}

main.site-main.create-your-solution-container {
  min-height: 97vh;
  margin-top: calc(90px + 5vh);
  padding-left: 48px;
  padding-right: 48px;
}
main.site-main.create-your-solution-container form#products_search_form {
  padding-bottom: 150px;
}
form#products_search_form h1.main-title {
  margin-top: 12px;
  margin-bottom: 12px;
}
form#products_search_form .progress {
  margin: 0 auto;
  border-radius: 3px;
}
form#products_search_form .progress + .progress-status {
  display: block;
  padding-bottom: 60px;
  font-size: 12px
}
form#products_search_form .progress + .progress-status::after {
  content: '% Completed';
  width: auto;
  position: absolute;
}
form#products_search_form .button-container.form-action {
  min-height: 100px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #ECEEEF;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.24);
  padding: 24px 0;
}
form#products_search_form .button-container.form-action .container {
  display: flex;
  justify-content: space-between;
  padding-left: 78px;
  padding-right: 78px;
}
form#products_search_form .button-container.form-action .container button {
  padding: 0 0;
  background: transparent;
  border: none;
  transition: all .18s;
}
form#products_search_form .button-container.form-action .container button.next[type=button]:disabled, form#products_search_form .button-container.form-action .container button.skip[type=button]:disabled {
  width: 0;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
}
form#products_search_form .button-container.form-action .container button.tags:hover {
  transform: translateY(-.75px);
}
form#products_search_form .button-container.form-action .container button.tags {
  margin: 0 6px;
  background-color: #4d4d4d;
  border-radius: 9px;
}
form#products_search_form .button-container.form-action .container button.tags:disabled {
  background-color: #FFFFFF;
}
form#products_search_form .button-container.form-action .container button, form#products_search_form .button-container.form-action .container button.tags, form#products_search_form .button-container.form-action .container button.tags span {
  margin-bottom: 0;
  font-size: 18px;
}
form#products_search_form .button-container.form-action .container button.tags span {
  background-color: transparent;
  border: none;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
}
form#products_search_form .button-container.form-action .container button.tags:disabled span {
  background-color: transparent;
  font-weight: 300;
  color: #4d4d4d;
  cursor: not-allowed;
}
form#products_search_form .button-container.form-action .container .buttonGroup, .modal-card-foot.buttonGroup {
  display: flex;
}
form#products_search_form .button-container.form-action .container .buttonGroup button, .modal-card-foot.buttonGroup button {
  display: block;
  margin: 0 3px;
  padding: 12px calc(30px + 1.5vw);
  background-color: #4d4d4d;
  border-width: 2.1px;
  border-style: solid;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  box-shadow: none;
  cursor: pointer;
  transition: all .18s;
}
form#products_search_form .button-container.form-action .container .buttonGroup button:hover, form#products_search_form .button-container.form-action .container .buttonGroup button:focus, .modal-card-foot.buttonGroup button:hover, .modal-card-foot.buttonGroup button:focus {
  transform: translateY(-.75px);
}
form#products_search_form .button-container.form-action .container .buttonGroup button.selections, .modal-card-foot.buttonGroup button.selections {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
  color: rgb(255,255,255);
}
form#products_search_form .button-container.form-action .container .buttonGroup button.next, .modal-card-foot.buttonGroup button.next {
  background-color: #3298dc;
  border-color: #3298dc;
  color: #FFFFFF;
}
form#products_search_form .button-container.form-action .container .buttonGroup button.skip, .modal-card-foot.buttonGroup button.skip {
  background-color: #ECEEEF;
  border-color: #ECEEEF;
  color: #3298dc;
}
form#products_search_form .button-container.form-action .container .buttonGroup button.add, .modal-card-foot.buttonGroup button.add {
  background-color: #4DA1FF;
  border-color: #4DA1FF;
  font-weight: 400;
  color: #FFFFFF;
}
form#products_search_form .button-container.form-action .container .buttonGroup button.print, .modal-card-foot.buttonGroup button.print {
  background-color: transparent;
  border-color: transparent;
  font-weight: 400;
  color: #888888;
}

#productSelections .field.has-addons {
  width: 100%;
}
#productSelections .field.has-addons .control:first-child {
  flex: 1;
}
#productSelections .field.has-addons .control input {
  height: 3.6rem;
  padding: 12px 24px 12px 42px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 18px;
}
#productSelections .field.has-addons .control input.search {
  background-position: 12px center;
  background-repeat: no-repeat;
  background-size: 21px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 50 50'%3E%3Cpath fill='%23888888' d='M48.439,15.574C46.361,8.048,41.511,3.326,33.842,1.838C24.729,0.069,15.876,5.432,13.04,14.267 c-1.637,5.101-1.086,10.034,1.503,14.732c0.109,0.197,0.225,0.39,0.507,0.769c-0.2,0.113-0.438,0.188-0.594,0.344 c-3.859,3.844-7.718,7.689-11.559,11.55c-2.134,2.145-1.506,5.645,1.21,6.832c0.357,0.156,0.739,0.254,1.11,0.378 c0.377,0,0.754,0,1.131,0c1.365-0.264,2.318-1.141,3.258-2.09c3.568-3.6,7.165-7.17,10.749-10.753 c0.146-0.146,0.27-0.312,0.411-0.477c0.176,0.088,0.293,0.138,0.402,0.201c11.043,6.373,24.679,0.365,27.417-12.089 c0.189-0.86,0.277-1.741,0.412-2.613c0-0.754,0-1.508,0-2.262C48.816,17.715,48.727,16.617,48.439,15.574z M30.538,33.055 c-7.257-0.012-13.113-5.867-13.122-13.122c-0.01-7.282,5.857-13.159,13.139-13.161c7.284-0.002,13.156,5.869,13.151,13.149 C43.701,27.201,37.82,33.067,30.538,33.055z M34.139,10.405c-0.532-0.251-1.144-0.39-1.732-0.452 c-1.214-0.128-2.15,0.624-2.341,1.787c-0.181,1.099,0.501,2.095,1.674,2.381c1.513,0.369,2.746,1.175,3.6,2.452 c0.471,0.705,0.788,1.529,1.08,2.334c0.366,1.007,1.275,1.651,2.298,1.507c1.078-0.152,1.827-1.008,1.899-2.111 c-0.129-0.507-0.199-1.038-0.398-1.516C39.012,13.885,36.979,11.746,34.139,10.405z'/%3E%3C/svg%3E%0A");
}
#productSelections .field.has-addons .control input.search + .autocomplete-items {
  position: absolute;
  top: calc(3.6rem + 12px);
  left: 21px;
  right: 0;
  z-index: 90;
  overflow: hidden;
  border: 1px solid #ECEEEF;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
}
#productSelections .field.has-addons .control input.search + .autocomplete-items div {
  padding: 15px 21px;
  background-color: #FFFFFF;
  font-weight: 400;
  color: #3298dc;
  cursor: pointer;
}
#productSelections .field.has-addons .control input.search + .autocomplete-items div:hover, #productSelections .field.has-addons .control input.search + .autocomplete-items div:focus {
  background-color: #ECEEEF;
}
#productSelections .field.has-addons .control input.search + .autocomplete-items .autocomplete-active {
  background-color: #ECEEEF;
  color: #3273dc;
}
#productSelections .control.dropdown {
  position: relative;
  box-sizing: border-box;
  clear: both;
  margin-top: .75rem;
  text-align: inherit;
  font-size: 1rem;
}
#productSelections .control.dropdown .dropdown-trigger button {
  height: 3.6rem;
  min-width: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-top: 0;
  padding: 12px 36px 12px 18px;
  background-color: transparent;
  border: 1px solid #dbdbdb;
  box-shadow: none;
  font-weight: normal;
  font-size: 18px;
}
#productSelections .control.dropdown .dropdown-trigger:hover button, #productSelections .control.dropdown.is-active .dropdown-trigger button {
  color: #3298dc;
}
#productSelections .control.dropdown .dropdown-trigger button:before, #productSelections .control.dropdown .dropdown-trigger button:after {
  content: "";
  height: 6px;
  width: 6px;
  position: absolute;
  top: calc(50% - 3px);
  right: 15px;
  border: solid #000000;
  border-width: 0 2.1px 0 0;
  transition: all .18s ease;
}
#productSelections .control.dropdown .dropdown-trigger button:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#productSelections .control.dropdown .dropdown-trigger button:after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
#productSelections .control.dropdown.is-active .dropdown-trigger button:before, #productSelections .control.dropdown.is-active .dropdown-trigger button:after {
  height: 9px;
  width: 9px;
  top: calc(50% - 3px);
  border-color: #3298dc;
}
#productSelections .control.dropdown.is-active .dropdown-trigger button:after {
  right: 14x;
}
#productSelections .control.dropdown.is-active .dropdown-trigger button:before {
  right: 20px;
}
#productSelections .control:last-child .dropdown-trigger button {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#productSelections .control.dropdown .dropdown-menu {
  width: calc(100% - 12px);
  min-width: 1.5rem;
  margin: 0 6px;
}
#productSelections .control.dropdown .dropdown-menu .dropdown-content {
  border-radius: 12px;
}
#productSelections .control.dropdown .dropdown-menu .dropdown-content label {
  display: block;
  position: relative;
  padding: 12px 12px 12px 36px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#productSelections .control.dropdown .dropdown-menu .dropdown-content label:hover {
  background-color: #ECEEEF;
}
#productSelections .control.dropdown .dropdown-menu .dropdown-content label input {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
#productSelections .control.dropdown .dropdown-menu .dropdown-content label input:disabled + span.checkmark, #productSelections .control.dropdown .dropdown-menu .dropdown-content label input:disabled + span.checkmark + span.title {
  background: transparent;
  opacity: .21;
  pointer-events: none;
}
#productSelections .control.dropdown .dropdown-menu .dropdown-content label .checkmark {
  height: 24px;
  width: 24px;
  position: absolute;
  top: calc(50% - 12px);
  left: 12px;
}
#productSelections .control.dropdown .dropdown-menu .dropdown-content label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#productSelections .control.dropdown .dropdown-menu .dropdown-content label input:checked ~ .checkmark:after {
  display: block;
}
#productSelections .control.dropdown .dropdown-menu .dropdown-content label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 11px;
  border: solid #3298dc;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#productSelections .control.dropdown .dropdown-menu .dropdown-content label span.title {
  font-weight: 400;
  font-size: 13px;
  color: #363636;
}
#productSelections .control.dropdown .dropdown-menu .dropdown-content label input:checked ~ span.title {
  color: #3298dc;
}
#productSelections .columns .column button.popular-search-term {
  padding: 0 0;
  background: transparent;
  border: none;
  text-decoration: underline;
  font-family: 'Roboto',Helvetica,Arial,san-serif !important;
  color: #000000;
  cursor: pointer;
}
#productSelections .columns .column button.popular-search-term:hover {
  text-decoration: none;
  color: #3298dc;
}

#autoCompleteFilterApplied a.tag {
  font-size: .75rem !important;
}

#productOptions {
  display: flex;
  align-items: stretch;
  margin-top: 4.8rem;
}
#productOptions #loader {
  width: auto;
  position: fixed;
  top: calc(50% - 90px);
  left: calc(50% - 48px);
  z-index: 150;
}
#productOptions .column.product-item {
  position: relative;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: all .24s ease;
  cursor: pointer;
}
#productOptions .column.product-item.filtered {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-90px);
  transition: all .24s ease;
}
#productOptions article.product-item.media + article.product-item.media {
  border-top: none !important;
  margin-top: 0 !important;
  padding-top: .75rem !important;
}

#productOptions .column.product-item input[type="checkbox"] {
  display: none;
}
#productOptions .column.product-item .card {
  height: 100%;
  padding: 30px;
  background-color: #ECEEEF;
  border-radius: 18px;
  transition: all .24s ease;
}
#productOptions .column.product-item .card:hover {
  background-color: #FFFFFF;
  transform: translateY(-9px);
}
#productOptions .column.product-item .card img {
  max-width: 87%;
  display: block;
  margin: 0 auto;
  opacity: .87;
  transition: all .21s ease;
}
#productOptions .column.product-item .card img.pd {
  min-width: calc(100% + 60px);
  max-width: auto;
  margin: -30px -30px 0 -30px;
  padding-bottom: 12px;
}
#productOptions .column.product-item .card:hover img {
  opacity: 1;
}
#productOptions .column.product-item .card .product-item-details > * {
  font-family: 'Roboto',Helvetica,Arial,san-serif !important;
}
#productOptions .column.product-item .card .product-item-details .product-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
}
#productOptions .column.product-item .card .product-item-details p.product-grade-band, #productOptions .column.product-item .card .product-item-details p.product-categories {
  margin: 1.5px 0;
  font-weight: normal;
  font-size: 14px;
}
#productOptions .column.product-item .card .product-item-details p.product-grade-band {
  color: #4d4d4d;
}
#productOptions .column.product-item .card .product-item-details p.product-categories {
  color: #3298dc;
}
#productOptions .column.product-item .card button.details-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 150;
  margin-top: 24px;
  padding: 9px;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  border: 1.5px solid #ECEEEF;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: #3298dc;
  transform: translateY(-21px);
  transition: all .75s ease;
}
#productOptions .column.product-item .card button.details-btn.remove {
  background-color: #ECEEEF;
  color: #4d4d4d;
}
#productOptions .column.product-item .card:hover  button.details-btn {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
#productOptions .column.product-item .card .product-selected {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255,255,255,0.75);
  visibility: hidden;
  opacity: 0;
  transition: all .24s ease;
}
#productOptions .column.product-item input:checked + .card .product-selected {
  visibility: visible;
  opacity: 1;
}
#productOptions .column.product-item input:checked + .card .product-selected:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 48px;
  left: calc(50% - 12px);
  top: calc(50% - 48px);
  border: solid #3298dc;
  border-width: 0 9px 9px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#product-details-container {
  height: auto;
  width: calc(100% + 60px);
  position: sticky;
  top: 90px;
  z-index: 100;
  overflow: hidden;
  margin-left: -30px;
  background-color: #FFFFFF;
  border-radius: 18px;
  box-shadow: 0px 0px 24px 12px rgba(0,0,0,0.21);
}
#product-details-container:empty {
  box-shadow: none;
}
#product-details-container > .product-details {
  max-height: calc(100vh - 210px);
  overflow: auto;
  margin: 9px 0;
  padding: 0 30px;
}
#product-details-container > .product-details::-webkit-scrollbar {
  width: 15px;
}
#product-details-container > .product-details::-webkit-scrollbar-thumb {
  background: #ECEEEF;
  border: 6px solid #FFFFFF;
}
#product-details-container > .product-details::-webkit-scrollbar-thumb:hover {
  background: #3298dc;
}
#product-details-container .product-details div:first-child {
  margin-top: 9px;
}
#product-details-container .product-details h2 {
  margin-top: 0;
  font-weight: 700;
}
#product-details-container .product-details button.delete {
  margin-top: 0;
  font-weight: 700;
}
#product-details-container .product-details img {
  max-width: calc(100% + 42px);
  margin-left: -30px;
}
#product-details-container .product-details .card {
  margin-top: 18px;
  padding: 0 2.1rem 1.5rem 2.1rem;
}
#product-details-container .product-details .card h3 {
  font-weight: 600;
}
#product-details-container .product-details .card h3::before {
  content: 'Sample Lesson Plan';
  width: 100%;
  height: 14px;
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #3298dc;
}
#product-details-container .product-details .card ol {
  margin-top: 15px;
  margin-left: 15px;
}
#product-details-container .product-details .card ol li {
  font-size: 14px;
}
#product-details-container .product-details .button-group button {
  margin-top: 6px;
  margin-right: 6px;
  padding: 12px 42px;
  background-color: transparent;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
}
#product-details-container .product-details .button-group button.add-to-solution {
  background-color: #3298dc;
  border-color: #3298dc;
  color: #FFFFFF;
}
#product-details-container .product-details .button-group button.close-details {
  background-color: #FFFFFF;
  border-color: #ECEEEF;
  color: #3298dc;
}
#product-details-container .product-details .button-group button:hover {
  color: #000000;
}
#product-details-container .product-details div.tag-container {
  max-width: 96%;
  position: relative;
  top: calc(-120px - .75rem);
  margin-bottom: -90px;
  padding: calc(12px + 0.5rem) 30px;
  background-color: #FFFFFF;
  border: 1.5px solid #ECEEEF;
  border-radius: 18px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
}
#product-details-container .product-details div.tag-container button.tags-trigger {
  width: auto;
  position: relative;
  background: transparent;
  border: none;
  text-align: left;
  font-family: 'Roboto',Helvetica,Arial,san-serif !important;
  font-weight: 700;
  font-size: 16px;
  color: #888888;
}
#product-details-container .product-details div.tag-container button.tags-trigger:hover {
  color: #3298dc;
}
#product-details-container .product-details div.tag-container button.tags-trigger:before, #product-details-container .product-details div.tag-container button.tags-trigger:after {
  content: "";
  height: 6px;
  width: 6px;
  position: absolute;
  top: calc(50% - 3px);
  right: -18px;
  border: solid #3298dc;
  border-width: 0 2.1px 0 0;
  transition: all .18s ease;
}
#product-details-container .product-details div.tag-container button.tags-trigger:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#product-details-container .product-details div.tag-container button.tags-trigger:after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
#product-details-container .product-details div.tag-container .tags {
  display: none;
  margin-top: 12px;
}
#product-details-container .product-details div.tag-container .tags.active {
  display: block;
}
#product-details-container .product-details h5 {
  margin-bottom: 18px;
}
#product-details-container .product-details p, #product-details-container .product-details ul li {
  font-size: 14px;
  line-height: 1.8;
}
#product-details-container .product-details ul li {
  font-size: 12px;
  line-height: 1.8;
}
#product-details-container .product-details p, #product-details-container .product-details ul, #product-details-container .product-details ul li:nth-last-child(-n+2) {
  margin-top: 18px;
}

#solutionSetModal .modal-content {
  min-width: 75vw;
  position: relative;
  overflow: visible;
}
#solutionSetModal .modal-content button#closeSolutionButton {
  height: 36px;
  width: 36px;
  position: absolute;
  top: -18px;
  right: -18px;
  z-index: 1;
  background-color: #FFFFFF;
  border: 2.1px solid #000000;
  border-radius: 50%;
  box-shadow: -9px 9px 15px 5px rgba(0,0,0,0.3);
  color: #000000;
  cursor: pointer;
}
#solutionSetModal .modal-content .box .table {
  width: 100%;
  margin-bottom: 0;
}
#solutionSetModal .modal-content .box .table thead th {
  font-size: 14px;
  color: #3298dc;
}
#solutionSetModal .modal-content .box .table tbody tr td {
  vertical-align: middle;
  font-weight: 500;
  font-size: 12px;
}
#solutionSetModal .modal-content .box .table tbody tr td img {
  width: auto;
  height: 42px;
  display: block;
  margin: auto;
}
#solutionSetModal .modal-content .box .table tbody tr td button.remove-solution-row {
  height: 24px;
  width: 24px;
  display: block;
  margin: auto;
  background-color: #FFFFFF;
  border: 2.1px solid #363636;
  border-radius: 50%;
  font-size: 9px;
  color: #363636;
  cursor: pointer;
}
#solutionSetModal .modal-content .box .table tbody tr td button.remove-solution-row:hover {
  border-color: #F14668;
  color: #F14668;
}

#main-solution-container {
  margin: -30px;
  background: linear-gradient(130deg, rgba(255,255,255,0.1) 64%, #3298dc 64%);
  background-size: 500%;
  background-position: -72% 0%;
  animation: gradient-open .6s ease 1;
  animation-fill-mode: forwards;
}
#main-solution-container.columns {
  padding-top: 30px;
  padding-bottom: 30px;
}
#main-solution-container.has-active-selection {
  animation: gradient-cover .6s ease 1;
  animation-fill-mode: forwards;
}
@keyframes gradient-cover {
	0% {
		background-position: -72% 0%;
	}
	100% {
		background-position: 100% 0;
	}
}
@keyframes gradient-open {
	0% {
		background-position: -37% 0%;
	}
	100% {
		background-position: -72% 0;
	}
}
#main-solution-container > .column:first-child {
  padding-left: 30px;
}
#main-solution-container > .column:last-child {
  padding-right: 0;
}
#main-solution-container .column ul li.solution-item {
  position: relative;
}
#main-solution-container .column ul li.solution-item button.close-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  min-height: 99px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  border: none;
  cursor: pointer
}
#main-solution-container .column ul li.solution-item input[type="checkbox"] {
  display: none !important;
}
#main-solution-container .column ul li.solution-item .solution-title, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 6px;
  padding: 12px 24px;
  background-color: #ECEEEF;
  border: 2px solid #ECEEEF;
  border-radius: 9px;
  cursor: pointer;
  transition: .18s ease;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title.is-active:hover {
  background-color: #FFFFFF;
  border: dotted 3px #ECEEEF;
}
#main-solution-container .column ul li.solution-item .solution-title:hover, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title:hover {
  border-color: #3298dc;
}
#main-solution-container .column ul li.solution-item .solution-title.is-active {
  background-color: #FFFFFF;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title:hover {
  background-color: #ECEEEF;
  border-color: #ECEEEF;
}
#main-solution-container .column ul li.solution-item .solution-title.is-active::after, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title.is-active::after {
  content: ' \2715';
  height: 24px;
  width: 24px;
  position: absolute;
  top: 30px;
  right: 24px;
  color: #888888;
}
#main-solution-container .column ul li.solution-item .solution-title > img, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > img {
  max-width: 90px;
  height: auto;
  padding-right: 18px;
  user-select: none;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > img {
  opacity: .36;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title:hover > img, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title.is-active > img {
  opacity: 1;
  visibility: visible;
}
#main-solution-container .column ul li.solution-item .solution-title h2, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title h2 {
  width: calc(100% - 90px);
  margin-top: 12px;
  margin-bottom: 24px;
  padding-right: 12px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #3298dc;
}
#main-solution-container .column ul li.solution-item .solution-title h2 > small, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title small {
  display: block;
  font-size: 12px !important;
  font-weight: 400;
  color: #4d4d4d;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title h2, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title small {
  opacity: 0.36;
  transition: .18s ease;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title.is-selected h2, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title.is-selected small {
  opacity: 1;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title:hover h2, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title:hover small, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title.is-active h2, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title.is-active small {
  opacity: 1;
}
#main-solution-container .column ul li.solution-item .solution-title > .solution-details {
  flex-shrink: 1;
  padding-top: 9px;
  padding-bottom: 24px;
}
#main-solution-container .column ul li.solution-item .solution-title > .solution-details h6 {
  font-weight: 600;
  font-size: 1.2rem;
}
#main-solution-container .column ul li.solution-item .solution-title > .solution-details p {
  font-size: 1rem;
}
#main-solution-container .column ul li.solution-item .solution-title > .solution-details a.product-link {
  display: inline-block;
  position: relative;
  z-index: 900;
  margin-top: 18px;
  padding: 6px 18px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .75rem;
  color: #ffffff;
}
#main-solution-container .column ul li.solution-item .solution-title > .solution-details a.product-link:hover, #main-solution-container .column ul li.solution-item .solution-title > .solution-details a.product-link:focus {
  background-color: #3298dc;
}
#main-solution-container .column ul li.solution-item.smart-board-option > .solution-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 90px;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label {
  display: flex;
  flex: 100%;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 6px;
  padding: 12px 24px 12px 6px;
  background-color: #FFFFFF;
  border: 2px dotted #ECEEEF;
  border-radius: 9px;
  cursor: pointer;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label img {
  width: 75px;
  opacity: .36;
  transition: all .18s;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label input[type="checkbox"] ~ .checkmark {
  height: 24px;
  width: 24px;
  position: absolute;
  top: calc(50% - 30px);
  left: 120px;
  display: block !important;
  margin-top: 12px;
  background-color: #FFFFFF;
  border: 2px solid #9c9c9c;
  border-radius: 60px;
  transition: all .18s;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label {
  transition: all .18s;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label:hover {
  border-style: solid;
  border-color: #9c9c9c;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label.is-selected {
  border-color: #3298dc;
  border-style: solid;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label:hover img, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label.is-selected img {
  opacity: 1;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label input:checked ~ .checkmark {
  background-color: #FFFFFF;
  border: 2px solid #3298dc;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label.is-selected input ~ .checkmark::after {
  content: '';
  height: 16px;
  width: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #3298dc;
  border-radius: 60px;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label p {
  width: calc(100% - 75px);
  margin-top: 0;
  margin-bottom: 6px;
  margin-left: 12px;
  font-size: 1.14rem;
  font-weight: 700;
  font-family: 'Roboto-slab',Helvetica,Arial,san-serif !important;
  color: #9c9c9c;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label p > small {
  display: block;
  line-height: normal;
  font-size: 12px !important;
  font-family: 'Roboto',Helvetica,Arial,san-serif !important;
  color: #9c9c9c;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label.is-selected p {
  color: #3298dc;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details button {
  height: auto;
  float: right;
  margin-top: 18px;
  margin-bottom: 6px;
  margin-left: 12px;
  padding: 9px 9px 9px 30px;
  border: 2px dotted #ECEEEF;
  border-radius: 9px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #9c9c9c;
  transition: all ease .12s;
  background-size: 27px;
  background-repeat: no-repeat;
  background-position: center left;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details button:hover, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details button:focus {
  border-color: #3298dc;
  color: #3298dc;
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details button.removeSmartOptions {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 500 500'%3E%3Cpath fill='%239c9c9c' d='M406.728,190.843c-2.586-2.925-6.303-4.601-10.21-4.601H125.71c-3.907,0-7.624,1.676-10.21,4.601 c-2.589,2.925-3.797,6.82-3.318,10.695l29.646,240.74c3.358,28.329,27.404,49.692,55.932,49.692h126.711 c28.525,0,52.567-21.362,55.922-49.63l29.653-240.802C410.524,197.663,409.317,193.768,406.728,190.843z M353.332,439.069 c-1.737,14.619-14.143,25.641-28.861,25.641H197.76c-14.722,0-27.127-11.023-28.868-25.701L141.12,213.503h239.988L353.332,439.069 z'/%3E%3Cpath fill='%239c9c9c' d='M398.375,96.523c7.261-1.989,11.53-9.487,9.54-16.746l-3.411-12.452c-7.75-28.252-37.06-44.929-65.295-37.185 l-47.505,13.029l-1.465-5.338c-5.577-20.334-26.658-32.347-46.987-26.763l-40.564,11.124 c-20.332,5.577-32.338,26.657-26.761,46.988l1.464,5.341l-47.503,13.028c-13.69,3.753-25.094,12.612-32.119,24.946 c-7.025,12.332-8.825,26.663-5.068,40.346l3.411,12.447c0.955,3.487,3.255,6.451,6.399,8.241c2.073,1.182,4.399,1.787,6.745,1.787 c1.208,0,2.419-0.16,3.604-0.486L398.375,96.523z M209.899,48.48l40.561-11.124c0.968-0.265,1.943-0.391,2.902-0.391 c4.822,0,9.254,3.206,10.589,8.077l1.465,5.337L203.68,67.31l-1.464-5.338C200.615,56.134,204.063,50.083,209.899,48.48z M121.46,125.985c3.417-6.005,8.971-10.319,15.636-12.148l60.644-16.632c0.001,0,0.002,0,0.003-0.001l88.027-24.142 c0.001,0,0.002-0.001,0.003-0.001l60.644-16.632c13.534-3.705,27.539,4.08,31.596,17.414l-259.206,71.09 C117.227,138.48,118.159,131.78,121.46,125.985z'/%3E%3Cpath fill='%239c9c9c' d='M261.115,436.031c5.647,0,10.223-4.577,10.223-10.223V249.052c0-5.645-4.575-10.223-10.223-10.223 c-5.647,0-10.222,4.577-10.222,10.223v176.755C250.893,431.453,255.469,436.031,261.115,436.031z'/%3E%3Cpath fill='%239c9c9c' d='M205.221,436.031c0.269,0,0.543-0.01,0.815-0.032c5.628-0.446,9.83-5.369,9.384-10.996l-13.973-176.755 c-0.442-5.629-5.377-9.822-10.995-9.386c-5.627,0.446-9.83,5.369-9.384,10.996l13.973,176.755 C195.464,431.967,199.94,436.031,205.221,436.031z'/%3E%3Cpath fill='%239c9c9c' d='M316.192,435.999c0.273,0.022,0.546,0.032,0.815,0.032c5.281,0,9.757-4.063,10.179-9.418l13.973-176.755 c0.446-5.627-3.757-10.551-9.384-10.996c-5.641-0.435-10.552,3.757-10.995,9.386l-13.973,176.755 C306.362,430.63,310.565,435.553,316.192,435.999z'/%3E%3C/svg%3E");
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details button.removeSmartOptions:hover, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details button.removeSmartOptions:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 500 500'%3E%3Cpath fill='%233298dc' d='M406.728,190.843c-2.586-2.925-6.303-4.601-10.21-4.601H125.71c-3.907,0-7.624,1.676-10.21,4.601 c-2.589,2.925-3.797,6.82-3.318,10.695l29.646,240.74c3.358,28.329,27.404,49.692,55.932,49.692h126.711 c28.525,0,52.567-21.362,55.922-49.63l29.653-240.802C410.524,197.663,409.317,193.768,406.728,190.843z M353.332,439.069 c-1.737,14.619-14.143,25.641-28.861,25.641H197.76c-14.722,0-27.127-11.023-28.868-25.701L141.12,213.503h239.988L353.332,439.069 z'/%3E%3Cpath fill='%233298dc' d='M398.375,96.523c7.261-1.989,11.53-9.487,9.54-16.746l-3.411-12.452c-7.75-28.252-37.06-44.929-65.295-37.185 l-47.505,13.029l-1.465-5.338c-5.577-20.334-26.658-32.347-46.987-26.763l-40.564,11.124 c-20.332,5.577-32.338,26.657-26.761,46.988l1.464,5.341l-47.503,13.028c-13.69,3.753-25.094,12.612-32.119,24.946 c-7.025,12.332-8.825,26.663-5.068,40.346l3.411,12.447c0.955,3.487,3.255,6.451,6.399,8.241c2.073,1.182,4.399,1.787,6.745,1.787 c1.208,0,2.419-0.16,3.604-0.486L398.375,96.523z M209.899,48.48l40.561-11.124c0.968-0.265,1.943-0.391,2.902-0.391 c4.822,0,9.254,3.206,10.589,8.077l1.465,5.337L203.68,67.31l-1.464-5.338C200.615,56.134,204.063,50.083,209.899,48.48z M121.46,125.985c3.417-6.005,8.971-10.319,15.636-12.148l60.644-16.632c0.001,0,0.002,0,0.003-0.001l88.027-24.142 c0.001,0,0.002-0.001,0.003-0.001l60.644-16.632c13.534-3.705,27.539,4.08,31.596,17.414l-259.206,71.09 C117.227,138.48,118.159,131.78,121.46,125.985z'/%3E%3Cpath fill='%233298dc' d='M261.115,436.031c5.647,0,10.223-4.577,10.223-10.223V249.052c0-5.645-4.575-10.223-10.223-10.223 c-5.647,0-10.222,4.577-10.222,10.223v176.755C250.893,431.453,255.469,436.031,261.115,436.031z'/%3E%3Cpath fill='%233298dc' d='M205.221,436.031c0.269,0,0.543-0.01,0.815-0.032c5.628-0.446,9.83-5.369,9.384-10.996l-13.973-176.755 c-0.442-5.629-5.377-9.822-10.995-9.386c-5.627,0.446-9.83,5.369-9.384,10.996l13.973,176.755 C195.464,431.967,199.94,436.031,205.221,436.031z'/%3E%3Cpath fill='%233298dc' d='M316.192,435.999c0.273,0.022,0.546,0.032,0.815,0.032c5.281,0,9.757-4.063,10.179-9.418l13.973-176.755 c0.446-5.627-3.757-10.551-9.384-10.996c-5.641-0.435-10.552,3.757-10.995,9.386l-13.973,176.755 C306.362,430.63,310.565,435.553,316.192,435.999z'/%3E%3C/svg%3E");
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details button.addSmartOptions {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 300 300'%3E%3Cpath fill='%239C9C9C' d='M236.303,82.465h-18.768V63.697c0-16.084-13.085-29.169-29.169-29.169H63.697 c-16.084,0-29.169,13.086-29.169,29.169v124.667c0,16.085,13.086,29.17,29.169,29.17h18.768v18.768 c0,16.084,13.086,29.169,29.169,29.169h124.667c16.084,0,29.169-13.085,29.169-29.169V111.635 C265.472,95.551,252.387,82.465,236.303,82.465z M102.364,111.65c0.033-5.088,4.198-9.254,9.271-9.286h124.667 c5.112,0,9.271,4.159,9.271,9.271v124.683c0.033,5.071-4.065,9.222-9.12,9.255H111.635c-5.112,0-9.271-4.159-9.271-9.271 C102.364,236.303,102.364,111.65,102.364,111.65z M54.426,63.682c-0.016-2.456,0.925-4.772,2.651-6.519 c1.725-1.748,4.028-2.72,6.487-2.735h124.8c5.112,0,9.271,4.159,9.271,9.271v18.767h-86c-16.084,0-29.169,13.086-29.169,29.169 v86.001H63.697c-5.112,0-9.271-4.159-9.271-9.271C54.426,188.365,54.426,63.682,54.426,63.682z'/%3E%3Cpath fill='%239C9C9C' d='M135.604,183.918h28.416v28.416c0,5.486,4.464,9.949,9.949,9.949s9.949-4.464,9.949-9.949v-28.416h28.416 c5.486,0,9.949-4.464,9.949-9.949c0-5.486-4.464-9.949-9.949-9.949h-28.416v-28.416c0-5.486-4.464-9.949-9.949-9.949 s-9.949,4.463-9.949,9.949v28.416h-28.416c-5.486,0-9.949,4.464-9.949,9.949C125.655,179.455,130.117,183.918,135.604,183.918z'/%3E%3C/svg%3E");
}
#main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details button.addSmartOptions:hover, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details button.addSmartOptions:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 300 300'%3E%3Cpath fill='%233298dc' d='M236.303,82.465h-18.768V63.697c0-16.084-13.085-29.169-29.169-29.169H63.697 c-16.084,0-29.169,13.086-29.169,29.169v124.667c0,16.085,13.086,29.17,29.169,29.17h18.768v18.768 c0,16.084,13.086,29.169,29.169,29.169h124.667c16.084,0,29.169-13.085,29.169-29.169V111.635 C265.472,95.551,252.387,82.465,236.303,82.465z M102.364,111.65c0.033-5.088,4.198-9.254,9.271-9.286h124.667 c5.112,0,9.271,4.159,9.271,9.271v124.683c0.033,5.071-4.065,9.222-9.12,9.255H111.635c-5.112,0-9.271-4.159-9.271-9.271 C102.364,236.303,102.364,111.65,102.364,111.65z M54.426,63.682c-0.016-2.456,0.925-4.772,2.651-6.519 c1.725-1.748,4.028-2.72,6.487-2.735h124.8c5.112,0,9.271,4.159,9.271,9.271v18.767h-86c-16.084,0-29.169,13.086-29.169,29.169 v86.001H63.697c-5.112,0-9.271-4.159-9.271-9.271C54.426,188.365,54.426,63.682,54.426,63.682z'/%3E%3Cpath fill='%233298dc' d='M135.604,183.918h28.416v28.416c0,5.486,4.464,9.949,9.949,9.949s9.949-4.464,9.949-9.949v-28.416h28.416 c5.486,0,9.949-4.464,9.949-9.949c0-5.486-4.464-9.949-9.949-9.949h-28.416v-28.416c0-5.486-4.464-9.949-9.949-9.949 s-9.949,4.463-9.949,9.949v28.416h-28.416c-5.486,0-9.949,4.464-9.949,9.949C125.655,179.455,130.117,183.918,135.604,183.918z'/%3E%3C/svg%3E");
}
#main-solution-container .solution-svg-container {
  position: relative;
}
#main-solution-container .solution-svg-container div {
  height: 97px;
  width: 97px;
  position: absolute;
  z-index: 500;
}
#main-solution-container .solution-svg-container div#loader {
  left: calc(50% - 50px);
}
#main-solution-container .solution-svg-container svg .classroom-element {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#main-solution-container .solution-svg-container svg .smart-product {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#main-solution-container #solutionSVG {
  top: 0;
  transition: all 1s ease;
}
#main-solution-container #solutionSVG.fixed {
  width: 30%;
  position: fixed;
  top: 12px;
  left: calc(60% - 1rem);
  transition: all 1s ease;
}
#talkToaRepContactForm > .modal-card {
  max-width: 500px;
}
.modal-card-body div.hbspt-form form div.input input[type="text"], .modal-card-body div.hbspt-form form div.input input[type="email"], .modal-card-body div.hbspt-form form div.input input[type="tel"], .modal-card-body div.hbspt-form form div.input select, .modal-card-body div.hbspt-form form div.hs-submit input[type=submit].hs-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: calc(3rem + 3px);
    width: 96%;
    margin: 0 3px;
    padding: 12px;
    background-color: #ffffff;
    border-width: 2.1px;
    border-style: solid;
    border: 1px solid rgba(0,0,0,.21);
    box-shadow: none;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .hide-tablet-mobile, #main-solution-container #solutionSVG {
    display: none !important;
  }
}

@media (max-width: 375px) {

}

@media print {
  h1 { font-size: 24px; }
  h2 { font-size: 21px; }
  h3 { font-size: 18px }
  h4 { font-size: 16px; }
  h5 { font-size: 14px; }
  h6, p, a { font-size: 12px; }
  h1, h2, h3, h4, h5, h6, p { margin-top: 12px; margin-bottom: 0; }
  .hide-from-print, header, .button-container.form-action, footer.site-footer > .site-info.container > .columns:first-child, a.product-link {
    height: 0;
    width: 0;
    display: none !important;
  }
  .solution-details {
    display: block !important;
    opacity: 1 !important;
  }
  .padding-top {
    padding-top: 21px;
  }
  .padding-bottom {
    padding-bottom: 21px;
  }
  .padding-left {
    padding-left: 21px;
  }
  .padding-right {
    padding-right: 21px;
  }
  main#main, .container {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  #productSelections .columns .column .box-section, #main-solution-container .column {
    width: 95%;
    padding: 0 0;
    border: none;
    border-radius: 0;
  }
  #main-solution-container .column ul li.solution-item {
    margin-bottom: 15px;
    border: 2px solid #dddddd;
    border-radius: 9px;
  }
  #main-solution-container .column ul li.solution-item .solution-title, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title {
    margin: 0 0;
    padding: 6px;
    border: none;
  }
  #main-solution-container > .solution-svg-container, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details button.removeSmartOptions {
    display: none !important;
  }
  #main-solution-container .column ul li.solution-item .solution-title .solution-details, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title .solution-details, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label.is-selected {
    display: block !important;
  }
  #main-solution-container .column ul li.solution-item .solution-title.is-active::after, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title.is-active::after, li.solution-item.smart-board-option .smart-board-title > img, li.solution-item.smart-board-option .smart-board-title > .solution-details label {
    display: none !important;
  }
  main.site-main.create-your-solution-container form#products_search_form, #main-solution-container .column ul li.solution-item.smart-board-option .smart-board-title > .solution-details label.is-selected {
    padding: 0 0;
    border: none;
  }
  footer.site-footer {
    margin: 0 auto;
    box-shadow: none;
  }
}
