@charset "UTF-8";

.white-fill {
  fill: #FFFFFF;
}

.grey-fill {
  fill: #505051;
}

.professional-development-color {
  color: #1A6AE2;
  fill: #1A6AE2;
}
.content-creation-color {
  color: #A834D3;
  fill: #A834D3;
}
.stem-solutions-color {
  color: #1A9F84;
  fill: #1A9F84;
}
.classroom-transformation-color {
  color: #CD6500;
  fill: #CD6500;
}
.grade-band-color {
  color: #20A3B7;
  fill: #20A3B7;
}
.subject-matter-color {
  color: #691BCA;
  fill: #691BCA;
}
.technology-proficiency-color {
  color: #E21A82;
  fill: #E21A82;
}

.create-your-solution-container .welcome {
  min-height: 75%;
}

.create-your-solution-container .create {
  margin-top: 10%;
}

.create-your-solution-container  div.column h1, .create-your-solution-container  div.column h2 {
  width: 100%;
  display: block;
  margin: 0 0;
}

.create-your-solution-container  div.column h1 {
  font-weight: 300;
  letter-spacing: -.18rem;
  font-size: 5.4rem;
}

.create-your-solution-container  div.column h2 {
  font-weight: 700;
  font-size: 2.1rem;
}

.create-your-solution-container .welcome > .image-cover {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	background: rgba(255,255,255,0.6);
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%);
}

.create-your-solution-container .welcome > .image-cover img {
	width: calc(100% - 39vw);
	height: auto;
	display: block;
	margin: 0 auto;
}

form.school-name-control {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

form.school-name-control div.input-control {
  height: 4.8rem;
  width: 76%;
}

form.school-name-control input.school-name {
  height: 100%;
  width: 100%;
  padding: 12px 21px;
  background-image: none;
  background: #ffffff;
  box-shadow: 30px 30px 59px #c9cacb, -30px -30px 59px #ffffff;
  border: none;
  border-radius: 0;
  font-size: 1.23rem;
  font-weight: 300;
}

form.school-name-control div.button-control {
  height: 4.8rem;
  width: 24%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0);
  cursor: pointer;
  transition: all ease .6s;
}

form.school-name-control div.button-control:hover {
  box-shadow: -21px -21px 66px #8b8c8d, 21px 21px 66px #ffffff;
}

div.button-control button.submit-button {
  height: 100%;
  width: 100%;
  display: block;
  background: none;
  border: none;
  text-align: center;
  font-weight: 700;
  color: rgb(255,255,255);
}

.create-your-solution-container .dial-ui-container {
  min-height: 600px;
  width: 100%;
}

.create-your-solution-container .dial-ui-container.main-dashboard {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 6rem;
  border-radius: 21px;
  border: .75px solid #fdffff;
  background: linear-gradient(145deg, #fdffff, #d4d6d7);
  box-shadow: 21px 21px 60px #c9cacb, -21px -21px 60px #ffffff;
}

.create-your-solution-container .dial-ui-container.main-dashboard .prev-next-button-container {
  position: absolute;
  z-index: 50;
  top: 36%;
  right: 1rem;
}

.create-your-solution-container .dial-ui-container.main-dashboard .prev-next-button-container a, .create-your-solution-container .dial-ui-container.main-dashboard .prev-next-button-container input[type="reset"] {
  height: 60px;
  width: 60px;
  display: flex;
  margin-top: 12px;
  border-radius: 50%;
  border: 1px solid #eceeef;
  background: linear-gradient(145deg, #d4d6d7, #fdffff);
  box-shadow: 6px 6px 12px #d7d9d9;
  cursor: pointer;
}

.create-your-solution-container .dial-ui-container.main-dashboard .prev-next-button-container a.disabled {
  pointer-events: none;
  opacity: 0.36;
}

.create-your-solution-container .dial-ui-container.main-dashboard .prev-next-button-container a:hover, .create-your-solution-container .dial-ui-container.main-dashboard .prev-next-button-container input[type="reset"]:hover {
  background: linear-gradient(145deg, #fdffff, d4d6d7);
  box-shadow: inset 6px 6px 12px #d7d9d9, inset -6px -6px 12px #ffffff;
}

.create-your-solution-container .dial-ui-container.main-dashboard .prev-next-button-container a svg {
  width: 100%;
  height: 100%;
}

.create-your-solution-container form.dial-ui-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.dial-ui-container .outer {
  box-shadow: 21px 21px 60px #c9cacb, -21px -21px 60px #ffffff;
}

.dial-ui-container .outer.hard {
  box-shadow: 6px -6px 12px #9e9fa0, -6px 6px 12px #9e9fa0;
}

.dial-ui-container .inner {
  box-shadow: inset 21px 21px 60px #c9cacb, -21px -21px 60px #ffffff;
}

.dial-ui-container .inner.hard {
  box-shadow: inset 6px -6px 12px #9e9fa0, inset -6px 6px 12px #9e9fa0;
}

.circle {
  margin: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #eceeef;
}

object.circle.dial {
  height: 370px;
  width: 370px;
  z-index: 25;
  background: transparent;
}

svg.circle.dial.markers {
  height: 400px;
  width: 400px;
  z-index: 45;
  background: transparent;
}

.circle.a {
  height: 400px;
  width: 400px;
  z-index: 5;
}

.circle.b {
  height: 385px;
  width: 385px;
  z-index: 10;
}

.circle.c {
  height: 370px;
  width: 370px;
  z-index: 15;
}

.circle.d {
  height: 320px;
  width: 320px;
  z-index: 20;
  background: radial-gradient(rgb(0,178,227), rgb(55,187,236));
}

.circle.e {
  height: 250px;
  width: 250px;
  z-index: 25;
  display: flex;
  align-items: center;
}

.circle.e > h4 {
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.gauge {
  height: 90%;
  width: 75px;
  margin: 0 0;
  position: absolute;
  left: 30px;
  z-index: 25;
  border-radius: 15px;
  background: #eceeef;
}

.gauge-reader-shadow, .gauge-reader-glare, .gauge-reader, .gauge-reader > .fill {
  height: 85%;
  width: 36px;
  margin: 0 0;
  position: absolute;
  z-index: 30;
  left: 67.26px;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  overflow: hidden;
}

.gauge-reader-glare {
  z-index: 45;
  box-shadow: inset -5px -5px 10px rgba(236,239,238,0.21), inset 5px 5px 10px rgba(255,255,255,0.36);
}

.gauge-reader > .fill {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  left: 18px;
  border-radius: 0;
}

.gauge-reader > .fill span.top-fill {
  height: 24px;
  width: auto;
  display: block;
  background-color: transparent;
  background-image: url('../images/gauge-reader-fill-top.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.gauge-reader > .fill span {
  height: 66px;
  width: auto;
  display: block;
  background-color: #00b2e3;
}

object.gauge-ticks {
  height: 85%;
  width: auto;
  margin: 0 0;
  position: absolute;
  z-index: 40;
  left: 67.26px;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

.gauge-labels {
  min-height: 462px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  z-index: 40;
  margin-left: 81px;
}

.gauge-labels span {
  height: 66px;
  display: block;
  padding: 6.6px;
  font-weight: 700;
}

.gauge-labels span:empty {
  display: none;
}

.dial-ui-set-container.slide, .dial-ui-set {
  width: 100%;
  position: relative;
}

.dial-ui-set {
  margin-top: 21px;
  margin-bottom: 21px;
}

.dial-ui-set input[type="radio"] {
  display: none;
}

.dial-ui-set .content-dial {
  width: 45%;
  position: absolute;
  top: 50%;
  right: -27.75%;
  transform: translate(-50%, -50%);
}

.dial-ui-set .content-dial p {
  margin-top: 3px;
}

.dial-ui-set .radio-dial {
  height: 200px;
  width: 200px;
  display: block;
  border-radius: 50%;
  background: #eceeef;
}

.dial-ui-set h5 {
  margin: 0 0;
  font-size: 1rem;
}

.radio-dial svg, .radio-dial svg g, .radio-dial svg g path {
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-align: center;
  overflow: visible;
}

.radio-dial svg text {
  background: black;
  border-radius: 6px;
  padding: 3px
}
